:root {
  --color-lightgrey : #eee;
  --color-darkgrey : #ccc;
}
* {
  margin: 0;
  padding: 0;
}
body {
  background-image: url(images/office-620817_1920.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
.container {
  background-color: #ffff;
  height: 100vh;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
.task-input {
  padding: 4px;
}
.task-tab {
  display: flex;
  border: 1px solid var(--color-darkgrey);
  position: relative;
}
.task-tab div{
  padding: 1em;
}
#horizontal-underline{
  height: 4px;
  background-color: pink;
  position: absolute;
  width: 50px;
  top: 53px;
  left: 0;
  transition: 0.5s;
  padding: 0;
}
.task {
  display: flex;
  justify-content: space-between;
  border: 1px solid var(--color-darkgrey);
  border-top: 0;
  padding: 1em;
}
.underline {
  text-decoration: line-through;
}